*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes{
    background-color: lightcyan;
    outline: 5px solid green;
    margin: 50px;
    height: 60vh;
    position: relative;
}
.box{
    height: 100px;
    outline: 1px solid red;
}
.box4{
    width: 80px;
    color: azure;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    
}
.box5{
    width: 200px;
    color: brown;
    background-color: rgb(226, 43, 137);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    
}


.box3{
    width: 380px;
    color:aquamarine;
    background-color:sandybrown;
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: 1;
    



}